{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommend",
		"plugin:react/recommend",
		"plugin:@typescript-eslint/recommend",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommend",
		"plugin:jsx-a11y/recommend"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"plugins": [
		"@typescript-eslint",
		"react",
		"prettier",
		"jsx-a11y"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"sort-imports":"warn",
		"react/prop-types": "warn",
		"@typescript-eslint/explicit-function-return-type": "off",
		"strict": 0,
		"no-console": "warn",
		"quotes": [
			"warn",
			"double"
		],
		"prettier/prettier": "warn",
		"no-unused-vars": "warn"
	},
	"overrides": [
		{
			"files": [".js"],
			"rules": {
				"@typescript-eslint/no-var-requires": "off"
			}
		}
	]
}
