{
	"overrides": [
		{
			"files": ["**/*.js"],
			"excludedFiles": ["./functions/*"],
			"extends": "react-app",
			"rules": {
				"strict": 1,
				"no-console": "warn",
				"quotes": [
					"warn",
					"double",
					{ "avoidEscape": true }
				],
				"prettier/prettier": "warn",
				"react/prop-types": "warn",
				"no-unused-vars": "warn",
				"sort-imports": "warn"
			}
		},
		{
			"files": ["**/*.ts", "**/*.tsx"],
			"excludedFiles": ["./functions/*"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"ecmaFeatures": {
					"jsx": true
				},
				"ecmaVersion": 2018,
				"sourceType": "module"
			},
			"env": {
				"browser": true,
				"node": true,
				"es6": true
			},
			"rules": {
				"strict": 1,
				"no-console": "warn",
				"quotes": [
					"warn",
					"double",
					{ "avoidEscape": true }
				],
				"prettier/prettier": "warn",
				"react/prop-types": "warn",
				"no-unused-vars": "warn",
				"sort-imports": "warn",
				"@typescript-eslint/explicit-function-return-type": "off"
			},
			"extends": [
				"eslint:recommended",
				"plugin:react/recommended",
				"plugin:jsx-a11y/recommended",
				"plugin:@typescript-eslint/recommended",
				"plugin:prettier/recommended"
			],
			"plugins": [
				"@typescript-eslint",
				"react",
				"prettier",
				"jsx-a11y"
			],
			"settings": {
				"react": {
					"version": "detect"
				}
			}
		},
		{
			"files": ["./functions/**/*.ts"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"ecmaVersion": 2017
			},
			"rules": {
				"strict": 1,
				"no-console": "off",
				"quotes": [
					"warn",
					"double",
					{ "avoidEscape": true }
				],
				"prettier/prettier": "warn",
				"react/prop-types": "warn",
				"no-unused-vars": "warn",
				"sort-imports": "warn"
			}
		}
	]
}
